@model DashBoardViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <table class="table">
        <tbody>
            @foreach (var logEntry in Model.Logs)
            {
                <tr>
                    <td>@logEntry.Message</td>
                </tr>
            }

        </tbody>
    </table>
</div>